APP_NAME = My AI Code Reviewer
DEBUG = true
DATABASE_URL = "postgresql+asyncpg://{user}:{password}@localhost:5432/{db-name}"
GITHUB_WEBHOOK_SECRET = "github app secret key"
GITHUB_TOKEN = "github api token"
GITHUB_API_URL = "github api base url"
OPENAI_API_KEY = "open ai api key"
OPENAI_BASE_URL = "the base url of openai api"